<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="Ajax Portfolio Showcase HTML Template" />
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />

    <!--  Title -->
    <title>Lida - Ajax Portfolio Showcase HTML Template</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
</head>

<body data-dsn-mousemove="true" data-dsn-scroller="true" class="ajax-slider ajax-menu">

    <!-- Loadnig Page -->
    <div class="loading-page">
        <div class="loadin-wrapper v-middle">
            <div class="dsn-progress">
                <div class="progress-number">0%</div>
                <div class="progress-fill-right"></div>
                <div class="progress-fill-left"></div>
                <div class="loading-text">Lida</div>
            </div>
        </div>
    </div>
    <!-- End Loadnig Page -->

    <!-- Nav Bar -->
    <div class="header-top nav-mobile">
        <div class="header-container">

            <div class="logo light_logo">
                <a href="index.html">
                    <img src="assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="logo dark_logo">
                <a href="index.html">
                    <img src="assets/img/logo-dark.png" alt="">
                </a>
            </div>


            <div class="menu-icon" data-dsn-grid="parallax" data-dsn-grid-move="50">
                <div class="icon-m">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>

            <div class="nav">
                <div class="inner">

                    <div class="nav__content">
                        <address>
                            <span>Egypt</span>
                            <span>Damietta,El-Mahalla El-Kubra,</span>
                            <span>01024552406 , 01004392260</span>
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="site-header">
        <div class="extend-container">
            <div class="inner-header">
                <div class="main-logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <nav class=" accent-menu main-navigation">
                <ul class="extend-container">
                    <li class="custom-drop-down">
                        <a href="#">Home</a>
                        <ul>
                            <li><a href="index.html">Main Demo</a></li>
                            <li><a href="dome-2.html">Full Width</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li class="custom-drop-down">
                        <a href="#">Work</a>
                        <ul>
                            <li><a href="work.html">Work</a></li>
                            <li><a href="project.html">LUXURY</a></li>
                            <li><a href="project-1.html">ARCHITECTURE</a></li>
                            <li><a href="project-2.html">CONTEMPORARY</a></li>
                            <li><a href="project-3.html">COOKING</a></li>
                            <li><a href="project-4.html">FITNESS</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Nav Bar -->

    <main class="root">

        <!-- Header -->
        <header class="dsn-header-hero">
            <div class="hero-img cover-bg" data-image-src='assets/img/hero.jpg'></div>
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-12">
                        <div class="header-content">
                            <div class="name-title justify-content-center">
                                <h1><span>About Us</span></h1>
                            </div>
                        </div>


                        <a href="#" class="hero__down">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="28" viewBox="0 0 18 28">
                                <path d="M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
        </header>
        <div class="dsn-header-height"></div>
        <!-- End Header -->

        <!-- Page Content -->
        <div class="content-background"></div>
        <div class="page-content">
            <section class="hero section-top">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 heading">
                            <h6>About Us</h6>
                            <h2>Plan, create and grow</h2>
                        </div>
                        <div class="col-lg-5 intro-about">
                            <h5>We plan, create and grow digital products. We help our clients succeed by delivering
                                products that improve life, work and play.</h5>

                            <p class="mt-30">We love finding simple solutions to complex challenges and place a strong
                                emphasis on craft in every detail from design to code.</p>
                        </div>
                    </div>
                </div>

                <div class="hero-mediawrap m-section">
                    <div class="container">
                        <div class="hero-media section-padding">
                            <div class="row justify-content-center">
                                <div class="col-lg-5 heading">
                                    <h2>Process</h2>
                                </div>
                                <div class="col-lg-5 text-part">
                                    <h5>We create charisma. Paying a lot of attention to both visual and technical
                                        aesthetics,
                                        we develop our projects in detail from an idea to final realization in a
                                        specific form. It
                                        lets us achieve quality,</h5>

                                    <h5 class=""> wholeness and, as a consequence, an effectiveness of our
                                        products on the market.</h5>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="services section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="heading mb-70">
                                <h6>Services</h6>
                                <h2>Skills to pay the bills.</h2>
                            </div>

                            <div class="services-wp">
                                <div class="box-title-services">
                                    <ul>
                                        <li id="tabs-1" class="link-click active">design.</li>
                                        <li id="tabs-2" class="link-click">conception.</li>
                                        <li id="tabs-3" class="link-click">development.</li>
                                        <li id="tabs-4" class="link-click">support.</li>
                                        <li id="tabs-5" class="link-click">marketing.</li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <div id="tabs-1-content" class="services-item-info">
                                        <h4>design.</h4>

                                        <p class="mt-20">We make data-driven decisions about UX while innovating every
                                            step of the way. From mobile to tablet to full wall projections, our
                                            digital creations are designed to make an impact on any sized screen. </p>

                                        <ul>
                                            <li>art direction</li>
                                            <li>user experience</li>
                                            <li>user interface</li>
                                            <li>web design</li>
                                            <li>interactive</li>
                                        </ul>
                                    </div>

                                    <div id="tabs-2-content" class="services-item-info">
                                        <h4>conception.</h4>
                                        <p class="mt-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            Dicta odio at qui, consequuntur deleniti quas accusamus officia nobis
                                            velit.</p>

                                        <ul>
                                            <li>digital strategy</li>
                                            <li>brand strategy</li>
                                            <li>prototyping</li>
                                            <li>content creation</li>
                                            <li>project management</li>
                                        </ul>
                                    </div>

                                    <div id="tabs-3-content" class="services-item-info">
                                        <h4>development.</h4>
                                        <p class="mt-20">Our engineers are artists - they can breathe life into designs
                                            and make websites move in ways you never thought possible.</p>

                                        <ul>
                                            <li>WordPress/PHP</li>
                                            <li>Sage</li>
                                            <li>e-commerce</li>
                                            <li>Shopify</li>
                                            <li>maintenance</li>
                                        </ul>
                                    </div>

                                    <div id="tabs-4-content" class="services-item-info">
                                        <h4>support.</h4>
                                        <p class="mt-20">We're here to help you. Reach out to us anytime, for anything
                                            you need. Ongoing technical support is part of the deal, so you can focus
                                            on growing your business—worry-free. </p>
                                    </div>

                                    <div id="tabs-5-content" class="services-item-info">
                                        <h4>marketing.</h4>
                                        <p class="mt-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            Dicta odio at qui, consequuntur deleniti quas accusamus officia nobis
                                            velit.</p>

                                        <ul>
                                            <li>SEO</li>
                                            <li>Advertising Campaign</li>
                                            <li>Marketing & Paid Media</li>
                                            <li>Creative & Photography</li>
                                            <li>Social Media Content</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="client">
                <div class="container">
                    <div class="content-client section-padding">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="heading heading-light mb-70">
                                    <h2>What people are saying about us</h2>
                                </div>

                                <div class="client-curs">
                                    <div class="client-item">
                                        <div>
                                            <h3><strong>We are brains with a lot of open tabs,</strong> without bonds
                                                of creativity and imagination.</h3>
                                            <h5><strong>Design Grid</strong> - web design</h5>
                                        </div>
                                    </div>

                                    <div class="client-item">
                                        <div>
                                            <h3><strong>We are brains with a lot of open tabs,</strong> without bonds
                                                of creativity and imagination.</h3>
                                            <h5><strong>Design Grid</strong> - Application Developer</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="client-brand section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="heading mb-70">
                                <h6>Our clients:</h6>
                                <h2>Proudly served some of the most famous brands.</h2>
                            </div>

                            <div class="brand-container">
                                <div class="brand-item">
                                    <div class="logo-client">
                                        <img src="assets/img/logo/1.png" alt="">
                                    </div>
                                    <div class="client-text">
                                        <h4>wordpress</h4>
                                    </div>
                                    <div class="client-link">
                                        <a href="#">https://wordpress.org</a>
                                    </div>
                                </div>

                                <div class="brand-item">
                                    <div class="logo-client">
                                        <img src="assets/img/logo/2.png" alt="">
                                    </div>
                                    <div class="client-text">
                                        <h4>envato</h4>
                                    </div>
                                    <div class="client-link">
                                        <a href="#">https://envato.com</a>
                                    </div>
                                </div>

                                <div class="brand-item">
                                    <div class="logo-client">
                                        <img src="assets/img/logo/3.png" alt="">
                                    </div>
                                    <div class="client-text">
                                        <h4>jquery</h4>
                                    </div>
                                    <div class="client-link">
                                        <a href="#">https://jquery.com/</a>
                                    </div>
                                </div>

                                <div class="brand-item">
                                    <div class="logo-client">
                                        <img src="assets/img/logo/4.png" alt="">
                                    </div>
                                    <div class="client-text">
                                        <h4>tutsplus</h4>
                                    </div>
                                    <div class="client-link">
                                        <a href="#">https://tutsplus.com/</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="next-up  text-center">
                <div class="bg-next"></div>
                <a href="contact.html">
                    <div class="next-content section-padding">
                        <div class="section-title">
                            <h5 class="subtitle">Let's talk</h5>
                            <h2>Contact US</h2>
                        </div>
                        <img src="assets/img/arrow-light.png" alt="">
                    </div>
                </a>
            </section>

            <footer class="footer">
                <div class="copyright-social">
                    <p>© 2019 DSN Grid</p>
                    <ul class="d-flex align-items-center">
                        <li><a href="#" target="_blank" data-dsn-grid="parallax" data-dsn-grid-move="20">Instagram</a></li>
                        <li><a href="#" target="_blank" data-dsn-grid="parallax" data-dsn-grid-move="20">Facebook</a></li>
                        <li><a href="#" target="_blank" data-dsn-grid="parallax" data-dsn-grid-move="20">Linkedin</a></li>
                    </ul>
                </div>
            </footer>


        </div>
        <!-- End Page Content -->

    </main>

    <!-- cursor -->
    <div class="global-cursor">
        <div class="custom-cursor single-cursor">
            <div class="cursor-container">
                <div class="cursor-text">
                    <div class="cursor-text-wrapper">
                        <div class="cursor-text-value">Scroll</div>
                    </div>
                    <div class="cursor-text-wrapper">
                        <div class="cursor-text-value nth-2">or hold</div>
                    </div>
                </div>
                <div class="cursor-part">
                    <div class="cursor-item"></div>
                </div>
                <div class="cursor-part cursor-left">
                    <i class="fas fa-caret-left"></i>
                </div>
                <div class="cursor-part cursor-right">
                    <i class="fas fa-caret-right"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End cursor -->

    <!-- Scroll Top -->
    <div data-dsn-grid="progress-circle" data-dsn-grid-stroke="#fff">
        <div class="icon__fixed" data-dsn-grid="parallax">
            <i class="fas fa-angle-up"></i>
        </div>
    </div>
    <!-- End Scroll Top -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJScy7qJ156DWM8kJVG-ZrK0R7Kize2Jg&sensor=false"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>