<!DOCTYPE html>
<html lang="en-US">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="parallax one page" />
    <meta name="keyword"
      content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />

    <!--  Title -->
    <title>Lida - Ajax Portfolio Showcase HTML Template</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <link href="assets/css/style_home.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <link href="assets/css/base.css" rel="stylesheet" />
  </head>

  <body data-dsn-mousemove="true" data-dsn-scroller="true" class="ajax-slider ajax-menu">
    <!-- Loadnig Page -->
    <div class="loading-page">
      <div class="loadin-wrapper v-middle">
        <div class="dsn-progress">
          <div class="progress-number">0%</div>
          <div class="progress-fill-right"></div>
          <div class="progress-fill-left"></div>
          <div class="loading-text">LADE WEBSITEDATEN</div>
        </div>
      </div>
    </div>
    <!-- End Loadnig Page -->

    <!-- Nav Bar -->
    <div class="header-top nav-mobile">
      <div class="header-container">
        <div class="main-logo">
          <a href="index.html">
            <img src="assets/img/edlogo_light.svg" alt="" data-dsn-grid="parallax" data-dsn-grid-move="50" />
          </a>
        </div>
        <div class="menu-icon" data-dsn-grid="parallax" data-dsn-grid-move="50">
          <div class="icon-m">
            <span class="menu-icon__line menu-icon__line-left"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line menu-icon__line-right"></span>
          </div>
        </div>

        <div class="nav">
          <div class="inner">
            <div class="nav__content">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-header">
      <div class="extend-container">
        <div class="inner-header">
        </div>
        <nav class=" accent-menu main-navigation">
          <ul class="extend-container">
            <li class="custom-drop-down">
              <a href="#">Home</a>
              <ul>
                <li><a href="index.html">Main Demo</a></li>
                <li><a href="dome-2.html">Full Width</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li class="custom-drop-down">
              <a href="#">Work</a>
              <ul>
                <li><a href="work.html">Work</a></li>
                <li><a href="project.html">LUXURY</a></li>
                <li><a href="project-1.html">ARCHITECTURE</a></li>
                <li><a href="project-2.html">CONTEMPORARY</a></li>
                <li><a href="project-3.html">COOKING</a></li>
                <li><a href="project-4.html">FITNESS</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Nav Bar -->

    <main class="root">




      <div class="sections-wrapper dsn-next dsn-demo">
      </div>

      <!-- End slider section -->

			<div class="frame" style="display: none">


				<div class="frame__deco">
				</div>
				
			</div><!-- /frame -->
			<div class="content">
				<div class="content__item">
					<button class="content__button">Take me in</button>
				</div>
				<div class="content__item content__item--details">
					<h3 class="content__location"></h3>
					<h1 class="content__title">ESCA<span>&nbsp;</span>DESIGN</h1>
					<p class="content__date"></p>
				</div>
				<div class="content__item content__item--details content__item--columns">
					<div class="content__inner">
						<span class="content__inner-item content__inner-item--date">AGENTUR FÜR</span>
						<span>WEB DESIGN<br></span>
						<span>DEVELOPMENT<br></span>
						<span>MOTION/VISUAL/UX DESIGN<br></span>
						<span>HOSTING<br></span>
						<span>SEO</span>
					</div>
					<div class="content__inner">
						<span class="content__inner-item content__inner-item--date"></span>
						<span>DJ Madow</span>
					</div>
				</div>
      </div>
      
    </main>
    <div id="container"></div>

    <!-- cursor -->
    <div class="global-cursor">
      <div class="custom-cursor">
        <div class="cursor-container">
          <div class="cursor-text">
          </div>
          <div class="cursor-part">
            <div class="cursor-item"></div>
          </div>
          <div class="cursor-part cursor-right">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/ico.js"></script>
		<script src="assets/js/charming.min.js"></script>
		<script src="assets/js/demo.js"></script>
  </body>

</html>